body {
    text-align: center;
    font-family: "Happy Monkey", serif;
    color: violet;
    background: linear-gradient(black, 70%, rgb(125, 108, 14));
    text-shadow: 0 0 4px black;

}

#ant {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid gold;
}


#age {
    background: gold;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#date {
    background: gold;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gift-img {
    background-image: url(Images/gift-cover.jpg);
    width: 400px;
    border: 5px solid black;
    border-radius: 5px;
    height: 400px;
    background-size: cover;
    background-position: center;
    margin: auto;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px
}

.gift-hint {
    margin-top: 0;
}

#gift-img-happy:hover {
    background-image: url(Images/brandon-brandon-curington.gif);
}


#gift-img-room:hover {
    background-image: url(Images/jerk-off-water-hose.gif);
}

#gift-img-word:hover {
    background-image: url(Images/donovan-mayo-true-alpha.gif);
}

#gift-img-badass:hover {
    background-image: url(Images/belt-fedora.gif);
}

#gift-img-cheers:hover {
    background-image: url(Images/charlie-gay.gif);

}

#gift-img-cheers {
    height: 300px;
}

.footer {
    margin: 50px 0;
    font-size: larger;
    font-style: italic;
    text-shadow: 2px 2px 2px black;
}

#linkline {
    border-bottom: 2px solid violet;

}